{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="row row-cols-1 g-3">
            <div class="col">
                <div class="card p-0">
                    <div class="card-header">
                        <b>Статистика рассылок сайта</b>
                    </div>
                    <div class="card-body">
                        <p>Количество рассылок всего: {{ total_count }}</p>
                        <p>Количество активных рассылок: {{ active_count }}</p>
                        <p>Количество уникальных клиентов для рассылок: {{ clients_count }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}