{% extends 'base.html' %}

{% block content %}

    <div class="mt-auto mb-3 mx-3">
        <a href="{% url 'mailer:message_create' %}" class="btn btn-lg btn-block btn-outline-warning">
            Создать сообщение
        </a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Тема письма</th>
            <th scope="col">Содержимое письма</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for message in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ message.title }}</td>
                <td>{{ message.message|truncatechars:30 }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="{% url 'mailer:message_detail' message.pk %}" class="btn btn-outline-warning">
                            Смотреть
                        </a>
                        <a href="{% url 'mailer:message_update' message.pk %}" class="btn btn-outline-warning">
                            Изменить
                        </a>
                        {% if user.is_superuser %}
                        <a href="{% url 'mailer:message_delete' message.pk %}" class="btn btn-outline-danger">
                            Удалить
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}