{% extends 'base.html' %}

{% block content %}

    <div>
        <a href="{% url 'client:client_create' %}" class="btn btn-lg btn-block btn-outline-success">Добавить клиента</a>
    </div>
    <div class="row p-3" style="text-align: center">
        <h1>Список клиентов</h1>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Имя</th>
            <th scope="col">Почта</th>
            <th scope="col">Комментарий</th>
            <th scope="col" class="d-flex justify-content-center">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for client in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ client.fullname }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.comment|truncatechars:30 }}</td>

                <td>
                    <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic mixed styles example">
                        <a href="{% url 'client:client_detail' client.pk %}" class="btn btn-outline-warning">
                            Смотреть
                        </a>
                        <a href="{% url 'client:client_update' client.pk %}" class="btn btn-outline-warning">
                            Изменить
                        </a>
                        <a href="{% url 'client:client_delete' client.pk %}" class="btn btn-outline-danger">
                            Удалить
                        </a>
                    </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}